<div class="menu-index-wrap">
  <table class="table">
    <thead>
      <tr>
        <th>Menu Name</th>
        <th>View Menu</th>
        <th>Edit Menu</th>
        <th>Delete Menu</th>
      </tr>
    </thead>
    <tbody>
      <% @menus.each do |menu| %>
        <tr>
          <td><%= menu.name %></td>
          <td><%= link_to menu_path(:id => menu.id) do %>
                <i class="fa fa-eye" aria-hidden="true"></i>
            <% end %>
          </td>
          <td><%= link_to edit_menu_path(:id => menu.id) do %>
                <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
          </td>
          <td><%= link_to menu_path(:id => menu.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

