@import "bootstrap-sprockets";
@import "bootswatch/sandstone/variables";
@import "bootstrap";
@import "bootswatch/sandstone/bootswatch";
@import url('https://fonts.googleapis.com/css?family=Courgette');
@import "font-awesome";

.flash-msg {
  padding: 10px 60px;
}

.devise-sign-in-container {
  margin: 75px auto;
  max-width: 500px;
  background-color: #F8F5F0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.devise-sign-in-container h2 {
  text-align: center;
}

.devise-sign-in-container input#admin_email, input#admin_password  {
  width: 470px;
  padding-left: 10px;
  font-size: 16px;
}

.menu-form-card {
  background-color: #F8F5F0;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.section-btn {
  margin-top: 15px;
}

.items-wrapper {
 padding-left: 15px;
 border-bottom: solid 1px #DFD7CA;
 margin-bottom: 20px;
}

.container-fluid {
 padding: 0;
}

.navbar-default {
  border-radius: 0;
  padding: 0 40px;
}

.navbar .nav > li > a{

  font-size: 14px;
}

.menu-form-wrap {
  width: 1170px;
  margin: 0 auto;
  padding: 15px;
}

.center-form-header {
  text-align: center;
}

p#brand-header {
  font-family: 'Courgette', cursive;
  font-size: 30px;
  color: #fff;
}

.add-btn {
  margin-bottom: 30px;
}

.full-btn {
  width: 100%;
  margin-top: 20px;
  font-size: 14px;
}

.remove-btn {
  float: right;
  margin-bottom: 7px;
}

.submit-menu-btn-row {
  margin: 20px 0 40px 0;
}

.section-card {
  width: 367px;
  vertical-align: top;
  display: inline-block;
  margin: 10px 5px;
  background-color: #F8F5F0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#menu-name-card {
  width: 600px;
  margin: 20px auto 20px auto;
  background-color: #F8F5F0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.menu-headline {
  font-weight: 600;
}

.menu-index-wrap h1 {
  text-align: center;
  margin-bottom: 30px;
}
/******* Menus Index ******/
.menu-index-wrap table{
  width: 75%;
  margin: 0 auto;
}

.menu-index-wrap table th {
  font-size: 16px;
}

.fa-eye, .fa-pencil, .fa-trash {
  font-size: 20px;
}
/******* Menus Show ******/

#menu-wrapper {
  width: 1000px;
  margin: 60px auto;
}

#menu-name {
  text-align: center;
  width: 200px;
  margin: 0 auto;
  text-decoration: underline;
}

#section-name {
  text-align: center;
  margin-top: 40px;
}

.courgette-text {
  font-family: 'Courgette', cursive;
}

.price {
  float: right;
}

#place-to-insert {
  float:left;
  display: inline;
}